.bg-primary {
    background-color: rgba(179, 217, 255, 0.5) !important;
}

#slct_year .Select-value {
  background-color: rgba(255, 204, 255, 0.6);
}

#slct_variable .Select-value{
  background-color: rgba(255, 204, 255, 0.6) !important;
}

#tab3_variables .Select-value{
  background-color: rgba(255, 204, 255, 0.6) !important;
}

#slct_group .Select-value {
  background-color: rgba(255, 204, 255, 0.6);
}

#slct_subgrp input[type='radio']:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1.5px solid black;
}

#slct_subgrp input[type='radio']:checked:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgb(0, 204, 153);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1.5px solid black;
}

.modebar{
    display: none !important;
}

@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("Acumin-BdPro.otf") format("opentype");
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
    height: 100%;
}

#error_message, #hide_message {
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 17px !important;
}

#accuracy_table_title, #class_table_title{
   text-align: center !important;
}

Footer {
  /*position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;*/
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

Footer p {
   font-weight: bold;
}

hr {
    margin: 0.3rem 0rem;
}

.banner {
    height: 4.5rem;
    padding: 0rem 2rem 0rem;
    /*background-color: rgba(130,129,132,0.5);*/
    background-color: #45a1ff;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
}

H5{
   color: #2c8cff !important;
   font-weight: 300;
}

#table_title{
   color: #2c8cff;
}

.draglayer {
    cursor: pointer !important;
}

#intro {
    margin: 20px 0px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: justify;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

#description-card > p {
    font-weight: bold;
}

#bike_volume_card {
    background-color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    /*margin-top: 20px;*/
}

#bike_volume_card > b {
    line-height: 2.5;
}





/* Device = Most of the Smartphones Mobiles / ipad (Portrait) */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #intro {
        margin: 10px 0px;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
    }

    #right-column {
        padding: 0rem 0.5rem;
    }

    #reset-btn-outer {
        text-align: center;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    #wait_time_table:after {
        content: "";
        display: table;
        clear: both;
    }

    #patient_volume_card > b, #wait_time_card > b {
        line-height: 2.5;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }

}